body {
    background: url('../image/backgroundmarket.webp') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

#market-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 3%;
}

#market-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    max-height: 76vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
}

#market-content::-webkit-scrollbar {
    display: none;
}

.market-item {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 12.84vw;
    height: 15.41vw;
    display: flex;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
}

.market-item img {
    width: 100%;
    height: 12.84vw;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.market-item .price-container {
    height: 2.57vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 10px 10px;
}

.market-item .price {
    font-size: 1.93vw;
    color: #ffd700;
}

@media (max-width: 768px) {
    .market-item {
        width: 45vw;
        height: 50vw;
    }

    .market-item img {
        height: 45vw;
    }

    .market-item .price-container {
        height: 5vw;
    }

    .market-item .price {
        font-size: 4vw;
    }
}

/* Стили для модального окна магазина */
.shop-modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed; 
    z-index: 1; /* Поверх остальных элементов */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Увеличенное затемнение */
    overflow: hidden;
}

.shop-modal-content {
    margin: 8% auto; /* Уменьшаем отступы сверху и снизу */
    padding: 20px; 
    width: 88%; /* Увеличиваем ширину */
    max-width: 440px; /* Увеличиваем максимальную ширину */
    background-color: rgba(50, 50, 50, 0.9); /* Менее черный фон с прозрачностью */
    border-radius: 10px;
    text-align: center;
    position: relative;
    height: auto; /* Даем возможность окну растягиваться по высоте */
    color: white; /* Белый цвет текста */
}

.shop-modal-content img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 1 / 1; /* Делаем изображение квадратным */
}

.shop-modal-content .shop-price {
    font-size: 1.2em;
    color: #fff; /* Белый цвет текста */
    margin-top: 10px;
}

.shop-buy-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    color: black; /* Черный текст на кнопке */
    background-color: #fff; /* Белая кнопка */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-buy-button:hover {
    background-color: #ddd;
}

/* Стили для крестика закрытия */
.shop-close {
    position: absolute;
    top: 10px;
    right: 10px; /* Перемещаем крестик вправо */
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.shop-close:hover,
.shop-close:focus {
    color: #aaa; /* Светлее при наведении */
    text-decoration: none;
    cursor: pointer;
}

/* Добавляем класс для активного элемента с зеленой окантовкой */
.market-item.active {
    border: 3px solid green; /* Зеленая окантовка */
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.7); /* Дополнительное выделение */
}
